<% if (loggedin) { %>
    <%- include("partials/secondaryHeader") %> <% } else { %> <%- include("partials/header") %> <% } %>

<%- include("partials/goToTop") %>

<aside>
    <div id="wrapper">    
        <div class="text-center"><h1>Erfolgreich abgeschlossene Bezahlung</h1></div>
    </div>
</aside>


<div class="colorlib-shop">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-md-12 col-md-offset-1">
                <div class="process-wrap">
                    <div class="process text-center active">
                        <p><span calss="icon"><i class="icon-search2"></i></span></p>
                        <h3>Fahrradauswahl</h3>
                    </div>
                    <div class="process text-center active">
                        <p><span calss="icon"><i class="icon-dollar-sign"></i></span></p>
                        <h3>Bezahlung</h3>
                    </div>
                    <div class="process text-center active">
                        <p><span calss="icon"><i class="icon-checkmark"></i></span></p>
                        
                        <h3>Fertig</h3>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-1 text-center" style="margin-top: 10px;">
                <span class="icon"><i class="icon-shopping-cart"></i></span>
                <h2>Vielen Dank für ihre Buchung! </h2>
                <h4>Ihre Buchung ist abgeschlossen, die Räder sind reserviert</h4> 
                <!--<h4>Sie können die Tickes auch als PDF herunterladen und drucken</h4>  -->
                
                    <div lass="col-md-12 col-md-offset-1 text-center">
                    <a href="/"><button class ="btn btn-warning" style="color:black">Zur Startseite</button></a>
                    <a href="/gutschein" id="gen"><button class ="btn btn-warning" style="color:black">Gutschein</button></a>
                    <a href="/fahrraeder"><button class ="btn btn-warning" style="color:black">Zu den Fahrrädern</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br>

  
<%- include("partials/footer") %>