<% if (loggedin) {%>
    <%-include("partials/secondaryHeader") %> <%} else {%> <%-include("partials/header") %> <%} %>
  
  <%- include("partials/goToTop") %> 

  <aside>
    <div id="wrapper">    
        <div class="text-center"><h1>Zahlungsabbruch</h1></div>
    </div>
</aside>


<div class="colorlib-shop">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-md-12 col-md-offset-1">
                <div class="process-wrap">
                    <div class="process text-center active">
                        <img src="/images/no.svg" class="responsiveIMG" width="200" height="200">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-md-offset-1 text-center" style="margin-top: 10px;">
                <h2>Leider war die Buchung nicht erfolgreich! </h2>
                <h4>Probieren Sie es zu einem spätreren Zeitpunkt erneut.</h4>
                
                    <div lass="col-md-12 col-md-offset-1 text-center">
                        <a href="/"><button class ="btn btn-warning" style="color:black">Zur Startseite</button></a>
                        <a href="/fahrraeder"><button class ="btn btn-warning" style="color:black">Zu den Fahrrädern</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

  
<%- include("partials/footer") %>